<%- include('../includes/head-blog') -%>
<%- include('../includes/link-blog') -%>
<%- include('../includes/meno-blog') -%>




<div class=" login-el  ">
  <!-- component -->
<div class="flex items-center  p-4  lg:justify-center mx-auto rounded-2xl my-5">
<div
class="flex flex-col-reverse  overflow-hidden bg-cartColor rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md"
>
<div
class="p-4 py-6 text-gray-900 bg-primaryColor md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly"
>
<div class="my-3 text-2xl font-semibold tracking-wider text-center ">
  <a class="bg-cartColor pt-3  px-4 rounded-xl text-white" href="#">
    <span class="text-primaryColor text-4xl">JS</span>
    MAG.IR
  </a>
</div>
<p class="mt-6 font-normal text-center  md:mt-0">
  JSMAG بلاگ تخصصی آموزش Node.js  و تکنولوژی های سمت سروری جاوا اسکریپت
</p>
<p class="flex flex-col items-center justify-center mt-10 text-center">
  <span>اکانت دارید؟</span>
  <a href="/auth/login" class="underline text-blue-600">وارد شوید!</a>
</p>
<p class="mt-6 text-xs text-center ">
  کلیه حقوق محصولات و محتوای این سایت متعلق به JSMAG.IR می باشد و هر گونه کپی برداری از محتوا و محصولات سایت غیر مجاز و بدون رضایت ماست.  

</p>
</div>
<div class="p-5 bg-cartColor md:flex-1">
<h3 class="my-4 text-2xl font-semibold text-white">Set New Password</h3>
<form action="/auth/newPassword" class="flex flex-col space-y-5" method="POST">
  <input type="hidden" name="email" value="<%= email %>">
  <input type="hidden" name="userId" value="<%= userId %>">
  <input type="hidden" name="token" value="<%= token %>">
  <div class="flex flex-col space-y-1">
    <label for="password" class="text-sm font-semibold text-gray-200">رمز عبور</label>
    <input
      name="password"
      id="password"
      autofocus
      class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
    />
  </div>
  <!-- <div class="flex flex-col space-y-1">
    <div class="flex items-center justify-between">
      <label for="password" class="text-sm font-semibold text-gray-200">تکرار رمز عبور</label>
    </div>
    <input
      type="confirmPassword"
      id="confirmPassword"
      class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
    />
  </div> -->
  <div class="">
    <button
      type="submit"
      class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4"
    >
  ثبت رمز جدید    
  </button>
  </div>
  
</form>
</div>
</div>
</div>
</div>

<%- include('../includes/footer') -%>























