<%- include('../includes/header') -%>
<%- include('../includes/link') -%>
<%- include('../includes/meno') -%>
<%- include('../includes/top-setting') -%>

  <div style="background-color: #1f344d; width: 100%;" >
    <form action="/admin/setting/slider/edit"  method="post" style="display: flex; flex-direction: column; justify-content: space-around; height: 100%; padding: 16px;">
      <input type="text" name="title" placeholder="title ..." value="<%= slide.title %>">
      <input type="text" name="description" placeholder="description ... " value="<%= slide.description %>">
      <input type="url" name="postUrl" placeholder="post address ..." value="<%= slide.postUrl %>">
      <input type="number" name="turnNumber" placeholder="turn number" value="<%= slide.turnNumber %>">
      <input type="hidden" name="slideId" value="<%=  slide._id %>">
      <button type="submit" style="background-color: #f7df1e; padding: 8px; border-radius: 20px; ">Save</button>
    </form>
  </div>
  
<%- include('../includes/bottom-setting') -%>
<%- include('../includes/end') -%>
