<%- include('../includes/header') -%>
<%- include('../includes/link') -%>
<%- include('../includes/meno') -%>
<%- include('../includes/top-setting') -%>

  <div style="background-color: #1f344d; width: 100%;" >
  
  </div>
  
<%- include('../includes/bottom-setting') -%>
<%- include('../includes/end') -%>
